header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B1357A;
    padding: 1rem;
}

.header-section {
    width: 30%;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-section h1 {
    font-size: 1.4rem;
    line-height: 0.9;    
    letter-spacing: 3px;
}

.logo-container {
    width: 70px;
    padding: 5px;
}

.logo-container img {
    width: 100%;
}


.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    padding: 0 20px;
}

.menu-button {    
    font-family: 'Cherry Swash', sans-serif;
    font-weight: bold;
    background: none;
    border: none;
    color:#FFF591 ;
    font-size: 1.1rem;
    cursor: pointer;
}

.cart-container {
    text-align: right;
}