/* Reset CSS  */

* { 
  margin: 0;
  padding: 0;
}

/* Google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

body {
font-family: 'Cherry Swash', sans-serif;
background: url(../public/assets/cloudybg.svg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-color:#F35588 ;
color: #FFF591;
height: 100vh;
}